absl-py==1.4.0
ace_tools==0.0
annotated-types==0.7.0
anyio==4.4.0
appnope==0.1.4
arch==7.2.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
autograd==1.7.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
bleach==6.1.0
blis==0.7.11
build==1.2.1
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.6.2
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.5.3
click==8.1.7
cloudpathlib==0.18.1
cloudpickle==3.1.1
cmdstanpy==1.2.5
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.8
DateTime==5.5
debugpy==1.8.1
decorator==5.1.1
deep-translator==1.11.4
defusedxml==0.7.1
Deprecated==1.2.14
dm-tree==0.1.8
dnspython==2.6.1
docopt==0.6.2
dp-accounting==0.4.3
email_validator==2.2.0
et-xmlfile==1.1.0
exchange_calendars==4.8
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.19.1
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.53.0
frozendict==2.4.6
fsspec==2024.6.1
futures==3.0.5
gast==0.4.0
google-auth==2.31.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
goslate==1.5.4
graphviz==0.20.3
grpcio==1.64.1
gurobipy==11.0.3
h11==0.14.0
h5py==3.13.0
holidays==0.75
html5lib==1.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.4
humanfriendly==10.0
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
ipykernel==6.29.4
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keras==2.14.0
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
kubernetes==30.1.0
langcodes==3.4.0
langdetect==1.0.9
language_data==1.2.0
libclang==18.1.1
llvmlite==0.43.0
lxml==5.3.0
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.2.0
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
multitasking==0.0.11
murmurhash==1.0.10
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
numba==0.60.0
numdifftools==0.9.41
numpy==1.24.3
oauthlib==3.2.2
onnxruntime==1.18.1
openpyxl==3.1.2
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt_einsum==3.4.0
optree==0.14.1
ordered-set==4.1.0
orjson==3.10.5
overrides==7.7.0
packaging==22.0
pandas==2.2.2
pandas_market_calendars==4.6.0
pandocfilters==1.5.1
parso==0.8.4
patsy==0.5.6
peewee==3.17.8
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pipreqs==0.5.0
platformdirs==4.2.2
posthog==3.5.0
preshed==3.0.9
prompt_toolkit==3.0.44
prophet==1.1.7
protobuf==4.25.3
psutil==5.9.8
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==25.1.0
pyarrow==19.0.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.7.3
pydantic_core==2.18.4
pydot==3.0.2
Pygments==2.18.0
PyLaTeX==1.4.2
pyluach==2.2.0
pyparsing==3.1.2
PyPika==0.48.9
pyproject_hooks==1.1.0
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
pyvi==0.1.1
PyYAML==6.0.1
pyzmq==26.0.3
rapidfuzz==3.9.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
ruptures==1.1.9
safetensors==0.4.3
scikit-learn==1.5.0
scikit-optimize==0.10.2
scipy==1.13.1
seaborn==0.13.2
sentence-transformers==3.0.1
shap==0.47.2
shellingham==1.5.4
six==1.16.0
sklearn-crfsuite==0.3.6
slicer==0.0.8
smart-open==7.0.4
sniffio==1.3.1
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.30
srsly==2.4.8
stack-data==0.6.3
stanio==0.5.1
starlette==0.37.2
statsmodels==0.14.4
sympy==1.12.1
tabulate==0.9.0
tenacity==8.4.2
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.14.0
tensorflow-probability==0.22.1
tensorflow_privacy==0.9.0
termcolor==3.0.1
thefuzz==0.22.1
thinc==8.2.4
threadpoolctl==3.5.0
tinycss2==1.3.0
tokenizers==0.19.1
toolz==1.0.0
torch==2.3.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
transformers==4.42.3
typer==0.12.3
typing_extensions==4.5.0
tzdata==2024.1
ucimlrepo==0.0.7
ujson==5.10.0
underthesea==6.8.4
underthesea_core==1.0.4
urllib3==2.2.1
uvicorn==0.30.1
uvloop==0.19.0
wasabi==1.1.3
watchfiles==0.22.0
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
wrapt==1.14.1
xlrd==2.0.1
xlsxwriter==3.2.5
yarg==0.1.9
yfinance==0.2.51
zipp==3.19.2
zope.interface==7.2
